JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_VALIDITY_SECONDS=
JWT_REFRESH_TOKEN_VALIDITY_SECONDS=

DB_URL=
DB_USERNAME=
DB_PASSWORD=

AWS_S3_BUCKET=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=

BASE_URL=

FRONTEND_ORIGIN=

KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
