JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_VALIDITY_SECONDS=
JWT_REFRESH_TOKEN_VALIDITY_SECONDS=

HIBERNATE_DDL_AUTO=none
DB_URL=
DB_USERNAME=
DB_PASSWORD=

AWS_S3_BUCKET=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=

SSH_HOST=
SSH_PORT=
SSH_USER=
SSH_PRIVATE_KEY=
SSH_REMOTE_HOST=
SSH_REMOTE_PORT=

BASE_URL=

FRONTEND_ORIGIN=
FRONTEND_BASE=

KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
